.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.normal {
  position: relative;
  z-index: 100;
}
.slick-next:before {
  color: #cf0a2c;
}
.slick-prev:before {
  color: #cf0a2c;
}
