.sticky {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.normal {
  position: relative;
  z-index: 100;
}
.slick-next,
.slick-prev {
  z-index: 1;
}
.slick-next {
  right: 25px;
}
.slick-prev {
  left: 25px;
}
.slick-next:before {
  font-size: x-large;
  color: #cf0a2c;
}
.slick-prev:before {
  font-size: x-large;
  color: #cf0a2c;
}

.hoverStill:hover {
  visibility: visible !important;
  opacity: 1 !important;
}
.hoverStill {
  pointer-events: auto !important;
  margin-top: 13px !important;
}
.content {
  color: orangered;
  text-transform: capitalize;
  font-weight: bold;
  margin-top: 1rem;
  font-size: inherit;
}
.content:hover {
  cursor: pointer;
}
.item-content {
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.showitem {
  opacity: 1;
}
.hideitem {
  position: absolute;
  top: -9999px;
  left: -9999px;
  opacity: 0;
}

.lien-he {
  position: fixed;
  bottom: 2rem;
  left: 8px;
  z-index: 2000;
}
.lien-he__group .button_icon {
  width: 44px;
  margin: 0 8px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 2px;
  background-color: white;
  border-radius: 50%;
  padding: 4px;
}

@media (min-width: 1200px) {
  .image-banner {
    height: 80vh !important;
  }
}
